:root {
  font-family: "Puritan", sans-serif;
  background-color: #000000ea;
}

h1 {
  font-size: 6.2em;
  line-height: 1;
  color: #00fb15fd;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding:3px ;
  margin: 4px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
  margin-bottom: 30px;
}
button:hover {
  border-color: #00fb15fd;
}



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}




